body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: #ffffff;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  min-height: 45px;
  vertical-align: middle;
  padding: 0 20px;
  border: none;

  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #ac1000;
  border-radius: 22px;
  cursor: pointer;
}

.button:hover {
  font: inherit;
  text-align: center;
  color: #ffffff;
  min-height: 45px;
  vertical-align: middle;
  padding: 0 20px;
  border: none;

  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
  border-radius: 22px;
  cursor: pointer;
}

.button:active {
  font: inherit;
  text-align: center;
  color: #ffffff;
  min-height: 45px;
  vertical-align: middle;
  padding: 0 20px;
  border: none;

  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #ac1000;
  border-radius: 22px;
  cursor: pointer;
}

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto;
  padding: 9px 53px;
  color: #ffffff;
}

.main-header-logo{
  width: 154px;
  height: 64px;
  padding: 9px 0;
}

.site-navigation,
.user-navigation {
  display: flex;
  list-style: none;
  padding: 0;
}

.user-navigation {
  margin-left: auto;
}

.site-navigation{
  padding-left: 10px;
}

.sub-navigation {
  display: none;
}

.sub-navigation:hover {
  display: block;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  padding: 7px 14px;
  margin: 23px 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f7f6f3;
  border-radius: 16px;
  color: #333333;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}


input[name="slider"] {
  display: none;
}

.slider {
  position: relative;
  margin-bottom: -180px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

.slides .title {
  position: absolute;
  top: 450px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
}


.breadcrumbs li:not(:first-child){

}

.breadcrumbs li:not(:first-child)::before{
  content: "»";
  padding-left: 8px;
  padding-right: 8px;

}

.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filters legend {

  font-size: 14px;
  line-height: 16px;

}

.filters fieldset {
  position: relative;
  display: inline-block;
  border: none;
  padding: 0;
}

.filters fieldset:not(:first-child) {
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 18px;
}

.filters select{
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 16px;
  line-height:  18px;
  padding: 8px 16px;
  border-radius: 18px;
}

.filters label{
 /*position: absolute;*/
  display: inline-block;
  padding: 8px 16px;
}

.filters input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.2);
  border:2px solid #fff ;
  color: #fff;
  font-size: 16px;
  line-height:  18px;
  padding: 8px 30px;
  border-radius: 18px;
}



.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0;
}

.offer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 27px;
}

.ruspberry,
.chocolate {
  width: 520px;
  min-height: 229px;
  padding: 20px;
  border-radius: 13px;
}

.ruspberry {
  background-color: darkred;
  background-image: url("../img/ruspberry.jpg");
}

.chocolate {
  background-color: chocolate;
  background-image: url("../img/choco.jpg");
}


.catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px 27px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
  min-height: 405px;
}

.hit {
  position: absolute;
  top:0px;
  left:0px;
}

.catalog-item:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.about {
  display: block;
  color: #323232;
  width: 1106px;
  min-height: 306px;
  border-radius: 13px;
  padding: 20px;
  margin:0 auto;
  margin-bottom: 40px;
  background-image: url("../img/waffel.jpg");
}

.articles{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.blog {
  color: #323232;
  width: 520px;
  min-height: 180px;
  padding: 20px;
  border-radius: 13px;
  background-image: url("../img/strawberry.jpg");
  background-position: 15% 40%;
}

.blog h3 {
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 10px 0;
  margin: 0;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.subscription {
  display: block;
  width: 560px;
  min-height: 220px;
  background-image: repeating-linear-gradient(-45deg, #92cdff 0px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 20px, #fe9e90 20px,
  #fe9e90 30px);
  border-radius: 13px;

}

.subscription-content {
  color: #5a5a5a;
  display: inline-block;
  width: 550px;
  min-height: 210px;
  padding: 0px;
  margin: 5px;
  border-radius: 11px;
  background-color: #f8f7f4;

}

.subscription-content p {
  display: inline;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
  background-image: url("../img/map.jpg");
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.pagination:before,
.pagination:after {
  margin: 7px 10px;
}

.pagination:after {
  content: "";
  width:9px;
  height: 9px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.pagination:before {
  content: "";
  width:9px;
  height: 9px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(-45deg);
}

.pagination a{
  text-decoration: none;
  padding: 5px 10px;

}

.pagination a:not([href]){
  list-style: none;
  padding: 6px 10px;
  color: #323232;
  background-color: #fff;
  border-radius: 50%;
}

.contact {
  position: absolute;
  right: 27px;
  bottom: 62px;
  color: #323232;
  width: 252px;
  min-height: 245px;
  padding: 30px 25px;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.98);
}











